---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <h4>Account created!</h4>
    <p>Your account has already been verified because this is a proof-of-concept not meant to be used in production. You
        can go log in immediately!</p>
</Layout>