---
import FlexLayout from "../layouts/FlexLayout.astro";

---

<FlexLayout>
    <main class="h-screen overflow-y-auto overflow-x-hidden w-screen bg-pink-600 space-grotesk text-white cursor-default font-light flex flex-col items-center">
        <header class="min-h-max bg-amber-500 flex items-center flex-col text-white w-full justify-center">
            <h1 class="px-5 py-12 text-center" id="hero">I'm a hospital and...</h1>
            <ul class="text-3xl space-grotesk flex max-lg:flex-wrap h-full justify-between">
                <li class="bg-amber-600 list-none p-12 w-full text-justify">Maintaining outdated in-house software and extending it to meet the demands of the modern medical industry is expensive and time-consuming</li>
                <li class="bg-amber-700 list-none p-12 w-full text-center">I don't want to waste time and money training new doctors to use unintuitive software that they've never seen before</li>
                <li class="bg-amber-800 list-none p-12 w-full text-center">My hospital's software does not help patients connect with my doctors and instead acts as a barrier</li>
            </ul>
        </header>
        <h1 class="text-center py-10 bg-pink-700 max-lg:text-justify px-12 font-black w-full">...and I don't have to work with that anymore.</h1>
        <ul class="text-3xl space-grotesk flex max-lg:flex-wrap list-none w-full">
            <li class="bg-pink-600 list-none p-12 w-full text-justify">Our software is built by experts and made to scale with the future, incorporating bleeding-edge technologies in the medical field like AI to bring you and your patients even closer.</li>
            <li class="bg-pink-500 list-none p-12 w-full">Our software is cross-hospital. Your doctors will already know how to use it, and not only that, patients can even follow your newly-hired doctors from their previous hospital, bringing in fresh, new patients.</li>
            <li class="bg-pink-400 list-none p-12 w-full text-justify">Our software serves as a bridge to connect you</li>
        </ul>
        <h1 class="font-normal w-fit py-36"><a href="/hospital">Help your doctors <b class="underline">work their magic</b>.</a></h1>
    </main>

    <style>
        @keyframes slide-down {
            from {
                @apply py-12;
            }

            to {
                @apply py-36;
            }
        }

        #hero {
            animation: slide-down 5s forwards;
            animation-delay: 1s;
        }

        @media screen and (prefers-reduced-motion) {
            #hero {
                animation: none;
            }
        }
    </style>
</FlexLayout>