---
import Layout from '../../layouts/Layout.astro'
import DoctorLogin from '../../components/doctor-login-form.svelte'
---

<Layout>
    <main class="h-screen w-screen flex items-center justify-center">
        <DoctorLogin/>
    </main>
</Layout>