---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <h4 class="text-center w-full my-5">Doctors must register with their hospitals first!</h4>
    <p>This is so that doctors can operate under the regulation and standards of hospitals.</p>
    <br>
    <p>Additionally, your hospital needs to be able to manage your schedule.</p>
</Layout>