---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <h4 class="text-green-800">Your hospital is already verified -- you can start managing and creating doctors!</h4>
    <p>Usually, there'd be a verification process where your hospital must contact us, but, since this is just a proof-of-concept not meant to be used in production, this process does not exist.</p>
</Layout>