---
import { Icon } from  'astro-icon';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600&family=Space+Grotesk:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>{title}</title>
</head>
<body>
<slot />
</body>
</html>
<style is:global lang="scss">
  :root, body, html {
    @apply overflow-x-hidden min-h-screen;
    font-family: 'Open Sans', sans-serif;
  }

  .space-grotesk {
    font-family: 'Space Grotesk', monospace;
  }

  ul, ol, li {
    @apply list-disc;
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }
</style>
